h1 {
  font-weight: 500;
}

h2 {
  font-weight: 300;
}

a {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  transition: color 1s;
  font-size: 2.5em;
  padding-top: 20px;
}

a:hover {
  color: olive;
  cursor: pointer;
  animation: infinite;
  transition: color 1s;
}

.container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}
